body {
    background-color: #000000;
    #shader-web-background {
        width: 100vw; 
        height: 100vh; 
        position: fixed; 
        top: 0px; 
        left: 0px; 
        z-index: -9999;
    }
}